include LICENSE.txt
include README.rst
recursive-include djangocms_googlemap/locale *
recursive-include djangocms_googlemap/static *
recursive-include djangocms_googlemap/templates *
recursive-exclude * *.py[co]
